@import url("https://fonts.googleapis.com/css2?family=Rochester&family=Acme&family=Bitter&family=Fondamento&family=Inika&family=PT+Serif&family=Pacifico&family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Fira+Mono:wght@500&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Roboto+Slab:wght@500&display=swap&family=Metal+Mania&display=swap&family=PT+Serif:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Merriweather:wght@300&family=Noto+Serif&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Serif';
}